/* FONT */

/* epilogue-regular - latin */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/epilogue-v11-latin-regular.woff2") format("woff2"),
    url("../fonts/epilogue-v11-latin-regular.woff") format("woff");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
}

img {
  height: 100%;
  width: auto;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-right: 80px;
  padding-left: 80px;
  margin-left: auto;
  margin-right: auto;
}

.button {}


.site-header {
  background-color: #010032;
}

.site-header-wrapper {}

.site-header-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0 23px;
}

.site-header-links a {
  color: #fff;
}

.site-logo-link {}

.site-logo-icon {}

.site-header-main-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.site-header-main-link {
  font-size: 15px;
  line-height: 19px;
}

.site-header-main-link:not(:last-of-type) {
  margin-right: 40px;
}

.site-header-cart-link {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  background: url(../img/Frame.svg) center no-repeat;
  background-position: right center;
  padding-right: 35px;
}

.site-header-hero-wrapper {
  padding: 100px 0 50px;
}

.site-header-hero-info-box {}

.site-header-hero-heading {}

.site-header-hero-text {}

.site-header-hero-message-link {}

.site-header-hero-important-day-box {}

.cup-icon {}

.site-header-hero-important-day-text-box {}

.site-header-hero-important-day-text-title {}

.site-header-hero-important-day-text {}