/* epilogue-regular - latin */
@font-face {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/epilogue-v11-latin-regular.woff2") format("woff2"),
    url("../fonts/epilogue-v11-latin-regular.woff") format("woff");
  font-display: swap;
}
